---
import HeaderLink from './HeaderLink.astro';
---

<header>
  <div class="container">
    <nav>
      <HeaderLink href="/">home</HeaderLink>
      <HeaderLink href="/about/">about</HeaderLink>
      <HeaderLink href="/blog/">blog</HeaderLink>
      <HeaderLink href="/projects/">projects</HeaderLink>
    </nav>
  </div>

  <style>
    header {
      margin-top: 10rem;
    }

  </style>
</header>
